<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<head>
<meta charset="UTF-8" />
<title>Niveau</title>

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<div layout:fragment="content">
		<br />
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1>Niveau</h1>
				</div>
				<div class="panel-body"></div>
				<!-- Search -->
				<div class="container">
					<form th:action="@{/niveaux/}" method="GET">
						<label for="mcNomNiveau">Mot Clé:</label> <input type="text"
							id="mcNomNiveau" name="mc" th:value="${mc}" /> <input
							type="submit" class="btn btn-primary" />
					</form>
				</div>

				<!-- Table -->
				<div class="container">
					<table class="table">
						<thead>
							<tr>
								<th>Niveau_Nom</th>
								<th>Formation_Nom</th>
								<th>Update</th>
								<th>Delete</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="n:${pageNiveau}">
								<td th:text="${n.nom}">
								<td th:text="${n.formation.nom}">
								<td><a class="btn btn-success" th:href="@{/niveaux/update(id=${n.id})}">Update</a></td>
								<td><a class="btn btn-danger" 
									onclick="return confirm('Voulez vous vraiment supprimer ce theme?')"
									th:href="@{/niveaux/delete(id=${n.id},p=${p},s=${s},mc=${mc})}">Delete</a></td>

							</tr>
						</tbody>
					</table>
				</div>

				<div class="panel-footer">
					<!-- navbar -->
					<div class="container">
						<ul class="nav nav-pills">
							<li th:class="${status.index}==${p} ? 'active' : ''"
								th:each="numPage,status:${nbPages}"><a
								th:text="${status.index}"
								th:href="@{/niveaux/(p=${status.index},s=${s},mc=${mc})}"></a></li>
						</ul>
					</div>

				</div>
			</div>

		</div>

		<!-- Panel -->
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1>Ajouter un Niveau</h1>
				</div>
				<div class="panel-body">
					<form th:action="@{/niveaux/confirmation}" method="POST">
							  <div class="form-group">
                                 <label for="exampleFormControlSelect1">Nom</label>
                                    <select id="select1"  class="form-control" th:field="*{newNiveau.nom}">
                                       <option value=""></option>
                                                <option th:each="cat:${listcat_niveau}" th:value="${cat.nom}" th:text="${cat.nom}"></option>
      
      
                                          </select>
               </div>

						<div class="form-group">
							<label class="control-label">Formation:</label> <select name="f_id">
								<option th:each="f:${listFormation}" th:value="${f.id}"
									th:text="${f.nom}" />
							</select>
						</div>

						<button class="btn btn-primary" type="submit">Save</button>
					</form>
				</div>

			</div>
		</div>
	</div>


</body>
</html>