<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
<body>
		<div class="panel panel-danger">
			<div class="panel-heading">Liste des formateurs</div>
			<div class="panel-body">
				<table class="table table-stripped">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Adresse mail</th>
							<th>Login</th>
							<th>Password</th>
							<th>Matiére</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="f:${Formateurs}">
							<td th:text=${f.nom}></td>
							<td th:text=${f.email}></td>
							<td th:text=${f.login}></td>
							<td th:text=${f.password}></td>
							<td th:text=${f.getMatieres().get(0).getNom()}></td>
							<td><a class="btn btn-primary"
								th:href="@{/classes/editerFormateur(login=${f.login})}">Editer</a> <a
								class="btn btn-danger"
								th:href="@{/formateurs/supprimer(login=${f.login})}">Supprimer</a>
								<a class="btn btn-warning"
								th:href="@{/formateurs/attribuerClasseF(login=${f.login})}">Ajouter à
									une classe</a></td>
						</tr>
					</tbody>
				</table>
				<hr />
				<a class="btn btn-success" th:href="@{/formateurs/ajouterFormateur1}">Ajouter
					un formateur</a>
			</div>
		  Si un Formateur ne se supprime pas il faut d'abord le supprimer de la classe associée
</body>
</html>