<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>
<body>
<div class="container mt-5">
	<div class="panel panel-primary">
    	<div class="panel-heading" th:if="${Formateur.login == null}">Ajouter un élève nouveau formateur</div>
    	<div class="panel-heading" th:if="${Formateur.login}">Editer un formateur</div>
    		<div class="panel-body">
          		<form method="get" th:action="@{/classes/saveMatiere}">
              		<div class="form-group">
                 	
                 	     <div class="form-group">
                                 <label for="exampleFormControlSelect1">Matiere selon le niveau de la classe et la formation(Monsieur Veuillez consultez la base de donnée pour vérifier)</label>
                                 <input
							class="form-control" type="hidden" name="c_id"
							th:value="${classe_id}">  
                                    <select id="Matier"  class="form-control"   name="m_id">
                                       <option value=""></option>
                                                <option th:each="cat:${listcat_matiere}" th:value="${cat.id}" th:text="${cat.nom} " ></option>
      

                                          </select>
                                          
                                          </div>    
                                                 
              		</div>
              		
              		<button type="submit" th:if="${Formateur.login == null}" class="btn btn-success">Valider</button>
              		<button type="submit" th:if="${Formateur.login}" class="btn btn-success">Editer</button>
             	</form>
             </div>
          </div>
        </div>
</body>
</html>
