<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
<meta charset="UTF-8">
<title>Title</title>

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" >
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	

</head>
<body>
<div class="container mt-5">
		<div class="panel panel-primary">
			
<div class="panel-heading" >Ajouter une nouvelle classe :Section niveau offert par la formation</div>
<div class="panel-body">
				<form method="post" th:action="@{/classes/save(id=${f_id},classe_nom=${classe_nom},classe_id=${classe__id})}">
   <div class="form-group">
                                 <label for="exampleFormControlSelect1">Niveau</label>
                                    <select id="Niveau"  class="form-control" name="n_id" >
                                       <option value=""></option>
                                                <option th:each="cat:${Niveau}" th:value="${cat.id}" th:text="${cat.nom}" ></option>
      
      
                                          </select>
                                          </div>
                                          	<button type="submit" 
						class="btn btn-success">Valider</button>
					
				</form>
				</div>
				</div>
				</div>
</body>
</html>