<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
<meta charset="UTF-8">
<title>Title</title>

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" >
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	

</head>
<body>
	<div class="container mt-5">
		<div class="panel panel-primary">
				
			<div class="panel-heading" >Ajouter
				une nouvelle classe:Section Formation</div>
			<div class="panel-body">
				<form method="post" th:action="@{/classes/suivant}">
					<div class="form-group">
						<label class="control-label">Nom :</label> <input
							class="form-control" type="hidden" name="id"
							th:value="${Classe.id}"> <input class="form-control"
							type="text" name="nom" th:value="${Classe.nom}">
					</div>
					   <div class="form-group">
                                 <label for="exampleFormControlSelect1">Formation</label>
                                    <select id="Formation" onchange="populate(this.id,'Niveau')"class="form-control"name="f_id">
                                       <option value=""></option>
                                                <option th:each="cat:${listcat_formation}" th:value="${cat.id}" th:text="${cat.nom}" ></option>
      
      
                                          </select>
                                          </div>
                                           
					<button type="submit" 
						class="btn btn-success">Continuer</button>
					<button type="submit" th:if="${Classe.nom}" class="btn btn-success">Editer</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
