<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">Liste des classes</div>
			<div class="panel-body">
			<div class="container">
			<form th:action="@{index}" method="get">
			<label>Mot Clé(nom,formation,Ingénieur):</label>
			<input type="text" name="mc"/>
			<button class="btn btn-primary">Chercher</button>
			</form>
			</div>
				<table class="table table-stripped">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Niveau</th>
							<th>Formation</th>
							<th>Options</th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="c:${listclasses}  ">
							<td th:text=${c.nom}></td>
							<td th:text=${c.niveau.getNom()}></td>
							<td th:text=${c.niveau.getFormation().getNom()}></td>
							<td><a class="btn btn-primary"
								th:href="@{/classes/editerClasse(id=${c.id})}">Editer</a> <a
								class="btn btn-danger"
								th:href="@{/classes/supprimerClasse(id=${c.id})}">Supprimer</a>
								<a class="btn btn-warning"
								th:href="@{/classes/detailsClasse(id=${c.id})}">Détails</a>
								<a class="btn btn-secondary"
								th:href="@{/classes/ajouterFormateur(id=${c.id})}">Associer un formateur</a>
								<a class="btn btn-info"
								th:href="@{/classes/ajouterEleve(id=${c.id})}">Associer un Eleve</a>
								
								</td>
								
								
						</tr>
					</tbody>
				</table>
				
				<div class="container">
				<ul class="nav nav-pills">
				<li th:clss="${pageCourante}==${status.index}?'active':''" th:each="pa,status:${pages}" >
				<a th:href="@{index(page=${status.index},size=${size})}" th:text="${status.index}">
				</a>
				
				</li>
				</ul>
				</div>
				
				<hr />
				<a class="btn btn-success" th:href="@{/classes/ajouterClasse}">Ajouter
					une classe</a>
			</div>
		</div>
		

		<hr />
		Pour Consulter La page Eleve: http://localhost:8099/eleves/
		<br>Pour Consulter La page Formateur: http://localhost:8099/formateurs/
		

	</div>
</body>
</html>
