<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/eleves.css">
</head>
<body>
<h1 style="margin-bottom: 20px">Liste des Elèves</h1>

		<div class="panel panel-success">
			<div class="panel-heading">Liste des élèves</div>
			<div class="panel-body">
				<table class="table table-stripped">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Adresse mail</th>
							<th>Login</th>
							<th>Password</th>
							<th>Matricule</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="e:${Eleves}">
							<td th:text=${e.nom}></td>
							<td th:text=${e.email}></td>
							<td th:text=${e.login}></td>
							<td th:text=${e.password}></td>
							<td th:text=${e.matricule}></td>
							<td><a class="btn btn-primary"
								th:href="@{/eleves/editerEleve(login=${e.login})}">Editer</a> <a
								class="btn btn-danger"
								th:href="@{/eleves/supprimer(login=${e.login})}">Supprimer</a> <a
								class="btn btn-warning"
								th:href="@{/eleves/attribuerClasseE(login=${e.login})}">Ajouter à
									une classe</a></td>
						</tr>
					</tbody>
				</table>
				<hr />
				<a class="btn btn-success" th:href="@{/eleves/addEleve}">Ajouter un
					élève</a>
			</div>
		</div>
		 Si un éleve  ne se supprime pas il faut d'abord le supprimer de la classe associée
</body>
</html>
