<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</head>
<body>
<div class="container mt-5">
	<div class="panel panel-primary">
    
    	<div class="panel-heading" >Listes des Eleves Disponibles</div>
    		<div class="panel-body">
          		
              		<div class="form-group">
                 		
                 	     <div class="form-group">
                                 <label for="exampleFormControlSelect1">Eleve Disponible</label> 
                                  
                                  <table class="table table-stripped">
                            
					<thead>
						<tr>
							<th>Nom</th>
							
							<th>Adresse mail</th>
							<th>Login</th>
							<th>Password</th>
							<th>Matricule</th>
							
							
							<th>Options</th>
							
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="e:${Eleves}">
						
							<td th:text=${e.nom}></td>
							<td th:text=${e.email}></td>
							<td th:text=${e.login}></td>
							<td th:text=${e.password}></td>
							<td th:text=${e.matricule}></td>
						
							 <form method="post" th:action="@{/eleves/attribuerClasse1(login=${e.login})}">
							<td><a class="btn btn-primary"
								th:href="@{/classes/editerFormateur(login=${e.login})}">Editer</a>
								<button  type="submit"  class="btn btn-success">Ajouter</button>
								 <input
							class="form-control" type="hidden" name="c_id"
							th:value="${classe_id}">  
								</form>
								 	
						</tr>
					</tbody>
				</table>
                                          </div>           
              		</div>
              		
              		
             	
             </div>
          </div>
        </div>
</body>
</html>
