<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'home')}">
	
<head>
<meta charset="UTF-8" />
<title>Formation</title>

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div layout:fragment="content">
		<br />
		<div class="container">
			<!-- Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1>Formation</h1>
				</div>
				<div class="panel-body">
					<!-- Search -->
					<div class="container">
						<form th:action="@{/formations/(p=${p},s=${s},mc=${mc})}"
							method="GET">
							<label for="mc">Mot Clé:</label> <input type="text" id="mc"
								name="mc" th:value="${mc}" /> <input type="submit"
								class="btn btn-primary" />
						</form>
					</div>
					<!-- Table -->
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Nom</th>
								<th scope="col">Update</th>
								<th scope="col">Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="f:${pageFormations.content}">

								<td th:text="${f.nom}"></td>
								<td><a th:href="@{editFormation(id=${f.id})}"
									class="btn btn-success">Update</a></td>
								<td><a class="btn btn-danger"
									onclick="return confirm('Voulez vous vraiment supprimer cette formation?')"
									th:href="@{deleteFormation/{id}(id=${f.id})}">Delete</a></td>

							</tr>

						</tbody>
					</table>

				</div>
				<div class="panel-footer">
					<div class="container">
						<ul class="nav nav-pills">
							<li th:class="${status.index}==${p} ? 'active' : ''"
								th:each="numPage,status:${nbPages}"><a
								th:text="${status.index}"
								th:href="@{/formations/(p=${status.index},s=${s},mc=${mc})}"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Panel -->
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1>Ajouter une formation</h1>
				</div>
				<div class="panel-body">
					<form th:action="@{saveFormation}" method="post"
						th:object="${formation}">
						<div class="form-group">
							<label class="control-label">Nom :</label> <input type="text"
								class="form-control" name="nom" th:field="*{nom}">
						</div>
						<div class="panel-footer">
							<input type="submit" value="Ajouter" class="btn btn-success">
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>

</body>
</html>