
<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<link rel="stylesheet" href="styles/eleves.css">
</head>
<body>
	

	<div class="forms">
		<h1 style="margin-bottom: 20px">Modifier Qcm</h1>
		<form class="form-horizontal " action="#" th:action="@{/updateQcm/{id}(id=${qcm.id})}" th:object="${qcm}"method="post">
		
		
			<div class="form-group">
			
				<label class="control-label col-sm-2" for="id">Id:</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" th:field="*{id}" id="id" name="id"placeholder="Entrer Id">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="nom">Nom:</label>
				<div class="col-sm-4">
					<input type="text"  th:field="*{nom}" class="form-control" id="nom" name="nom"
						placeholder="Entrer Nom">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="type">Type:</label>
				<div class="col-sm-4">
					<select name="type">
						<option
							th:each="state : ${T(ma.ac.emi.qcm.entities.Type).values()}"
							th:value="${state}" th:text="${state}"></option>
					</select> 
					
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="test">Test:</label>
				<div class="col-sm-4">
					<select name="test">
						<option th:value="'true'" th:text="Vrai"></option>
						<option th:value="'false'" th:text="Faux"></option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="Partage">Partage:</label>
				<div class="col-sm-4">
					<select name="partage">
						<option th:value="'true'" th:text="Vrai"></option>
						<option th:value="'false'" th:text="Faux"></option>
					</select>

				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="mode">Mode:</label>
				<div class="col-sm-4">
					<select name="mode">
						<option
							th:each="state : ${T(ma.ac.emi.qcm.entities.Mode).values()}"
							th:value="${state}" th:text="${state}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="formateur">Formateur:</label>
				<div class="col-sm-4">

					<input type="text" class="form-control"  th:field="*{formateur.login}" id="formateur"
						name="formateur" placeholder="Entrer nom formateur">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="classe">Classe</label>
				<div class="col-sm-4">
					<input type="text" class="form-control"  th:field="*{classe.id}" id="classe" name="classe"
						placeholder="Entrer Classe">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="matiere">Matiere</label>
				<div class="col-sm-4">

					<input type="text" class="form-control" th:field="*{matiere.id}" id="matiere" name="matiere"
						placeholder="Entrer Matiere">
				</div>
			</div>



			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-4">
					<button type="submit" class="btn btn-default btn-primary">Ajouter</button>
				</div>
			</div>
		</form>
	</div>
	
	</body>
</html>